In [1]:
# Import the library of Pandas.
import pandas as pd

In [ ]:
# Read The path of Excel file and save it in a variable called (df) --> it means DataFrame.
df = pd.read_excel(r"D:\MLT\data_clean.xlsx", engine="openpyxl")

In [ ]:
# Show columns
df.columns

In [ ]:
# Make path for every customer and save it in a variable.
path_for_every_customer = ( df.groupby(["account_id", "Country", "solution"])["types"].apply(list).reset_index() )

In [ ]:
# Show the first five rows.
path_for_every_customer.head()

In [ ]:
# Show paths for all.
path_for_every_customer

In [ ]:
# Transfor the types columns from List into string and include (-->) inside every cell.
path_for_every_customer["types"] = path_for_every_customer["types"].str.join(" --> ")

In [ ]:
# Show paths for every customer after modified.
path_for_every_customer

In [ ]:
# Show the first five rows.
path_for_every_customer.head()

In [8]:
# Counts the number of iterations of each path and made new columns for iterations calling (duplicates).
path_duplicates = ( path_for_every_customer.groupby(["Country", "solution", "types"]).size().reset_index(name = "duplicates") )

In [9]:
# Show the number of iterations of each path.
path_duplicates

,Country,solution,types,duplicates
0,Austria,MRS,Email,22
1,Austria,MRS,Email --> Email,19
2,Austria,MRS,Email --> Email --> Email,5
3,Austria,MRS,Email --> Email --> Email --> Email,6
4,Austria,MRS,Email --> Email --> Email --> Email --> Email,4
...,...,...,...,...
7312,United States,PLS,On-Site --> Email,1
7313,United States,PLS,On-Site --> Inbound Call --> Inbound Call --> ...,1
7314,United States,PLS,On-Site --> On-Site --> Inbound Call,1
7315,United States,PLS,Review --> Email --> Email --> Email --> Follo...,1
7316,United States,PLS,Review --> Meeting --> Email --> Meeting --> E...,1

In [10]:
# Make the top five paths.
top_five_paths = ( 
    path_duplicates.sort_values( ["Country", "solution", "duplicates"], ascending = [True, True, False] ).groupby(["Country", "solution"]).head(5) 
)

In [11]:
# Show the top five paths.
top_five_paths

,Country,solution,types,duplicates
0,Austria,MRS,Email,22
1,Austria,MRS,Email --> Email,19
3,Austria,MRS,Email --> Email --> Email --> Email,6
2,Austria,MRS,Email --> Email --> Email,5
6,Austria,MRS,Email --> Email --> Email --> Email --> Email ...,5
...,...,...,...,...
7294,United States,PLS,Inbound Call,6
7276,United States,PLS,Email --> Email,4
7295,United States,PLS,Inbound Call --> Email,4
7275,United States,PLS,Email,3
7280,United States,PLS,Email --> Inbound Call,3

In [12]:
# Transform (top fie paths) into Excel file.
top_five_paths.to_excel("top_five_paths.xlsx", index= False)